@media (max-width: 575.98px) {
  .menu_image {
    display: block;
  }

  body {
    overflow-y: scroll;
  }

  .navbar__content {
    padding: 0 1em 0 20px;
    width: 100%;
  }

  .navbar__content ul {
    display: none;
  }

  .container {
    grid-template-areas:
    "nav     nav"
    "section aside"
    "footer  footer";
    grid-template-rows: 10% 60% 30%;
  }

  .main-content {
    padding-left: 15px;
  }

  .main-content p:last-child {
    width: 100%;
    text-align: justify;
  }

  .main-content p:first-child {
    margin: 0 0 -4px 40px;
  }

  .modal__content {
    width: 92%;
    height: 45vh;
  }

  .card {
    width: 70%;
    height: 80%;
  }

  .button-content {
    margin: 0 0 10px 0;
  }

  .side-content div {
    border-radius: 25px 0 0 25px;
  }

  .footer {
    width: 100vw;
    border-radius: 0;
  }

  .footer div img {
    width: 100px;
  }

  .footer div {
    height: 20vh;
    width: 108px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .footer div {
    width: 30%;
    height: 17vw
  }

  .footer div img {
    width: 90px;
  }
 }

@media (min-width: 768px) and (max-width: 991.98px) {
  .footer {
    width: 70vw;
  }

  .footer div {
    height: 70%;
    width: 28%;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
  body {
    overflow-y: scroll;
  }

  .modal__content {
    width: 50%;
  }
 }
