@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: indianred;
  color: white;
  margin: 0;
}

.icon-close {
  margin: 16px 0 0 16px;
  width: 50px;
  height: 30px;
  
}

.icon-close:hover {
  transform: scale(1.1);
  width: 55px;
}

.mobile-menu a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}
  
.mobile-menu ul {
  font-size: 22px;
  margin: 24px 0 0;
  padding: 0 30px;
  list-style: none;
}
  
.mobile-menu ul li {
  margin-bottom: 24px;
}
  
.close-menu {
  display: flex;
  justify-content: flex-end;
}
  