@import url("https://fonts.googleapis.com/css2?family=Lato:wght@200;400;700&display=swap");

:root {
  --red: #992425;
  --yellow: #b28644;
  --black: #151821;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.page {
  position: relative;
  height: 100vh;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  grid-template-rows: 20% 50% 30%;
  grid-template-areas:
    "nav     aside"
    "section aside"
    "footer  aside";
  position: absolute;
  height: 100%;
  width: 100%;
}

.navbar {
  grid-area: nav;
  display: flex;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 80px;
  animation: 2s navbar 0.5s ease-in-out;
}

@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }

  100% {
    transform: translateY(0px);
  }
}

.navbar__content img {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50px;
}


.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}

.navbar__content ul li a {
  color: var(--red);
  font-weight: 300;
  text-decoration: none;
}

.navbar__content ul li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menu_image {
  display: none;
  background-color: var(--red);
  -webkit-mask: url(/assets/img/bars-solid.svg) no-repeat center;
  mask: url(/assets/img/bars-solid.svg) no-repeat center;
  width: 50px;
  height: 40px;
}

.navbar__content .menu_image:hover {
  cursor: pointer;
  transform: scale(1.1);
  width: 55px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  grid-area: section;
  animation: 2s main-content 0.5s ease-in-out;
}

.main-content p:first-child {
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 -8px 44px;
}

.main-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 28px 0;
}

.main-content p:last-child {
  font-weight: 100;
  margin: 0;
  width: 60%;
  text-align: justify;
}

@keyframes main-content {
  0% {
    transform: translateX(-600px);
  }

  100% {
    transform: translateX(0px);
  }
}

.side-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  grid-area: aside;
}

.side-content p {
  transform: rotate(-90deg);
  font-size: 36px;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  opacity: 0;
  animation-name: side-content-text;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes side-content-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.side-content img {
  width: 100%;
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  animation: 2s side-content-img 0.5s ease-in-out;
}

@keyframes side-content-img {
  0% {
    transform: translateX(600px);
  }

  100% {
    transform: translateX(0px);
  }
}

.side-content div {
  background: var(--black);
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  height: 100%;
}

.footer {
  display: flex;
  background: var(--red);
  justify-content: space-evenly;
  align-items: flex-end;
  border-radius: 0 80px 0 0;
  transform: translateY(100%);
  animation-name: footer;
  animation-duration: 0.5s;
  animation-delay: 2.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes footer {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0px);
  }
}

.footer div img {
  position: absolute;
  width: 145px;
  bottom: 15px;
  transform: translateY(0px) scale(1);
  transition: transform 0.5s ease-in-out;
}

.footer div:hover img {
  cursor: pointer;
  transform: translateY(-20px) scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.footer div {
  display: flex;
  justify-content: center;
  background: var(--yellow);
  width: 150px;
  height: 60%;
  border-radius: 20px 20px 0 0;
}

.footer div:nth-child(1) {
  transform: translateY(200px);
  animation-name: footer-image;
  animation-duration: 0.5s;
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.footer div:nth-child(2) {
  transform: translateY(200px);
  animation-name: footer-image;
  animation-duration: 0.5s;
  animation-delay: 3.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.footer div:nth-child(3) {
  transform: translateY(200px);
  animation-name: footer-image;
  animation-duration: 0.5s;
  animation-delay: 4s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes footer-image {
  0% {
    transform: translateY(200px);
  }
  100% {
    transform: translateY(0px);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  animation: loader 1.5s linear forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }

  95% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loader div {
  background: var(--red);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
  transform: scale(0);
  animation: scaling 2s ease-in-out infinite;
}

.loader div:nth-child(1) {
  animation-delay: 0.2s;
}

.loader div:nth-child(2) {
  animation-delay: 0.4s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
  }

  40% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }
}

.hidden {
  display: none;
}

.visible {
  display: grid;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 4;
  place-items: center;
  cursor: pointer;
}

.modal__content {
  display: grid;
  place-items: center;
  background: white;
  width: 40%;
  height: 50%;
  border-radius: 25px;
}

.modal__content--slider {
  width: 300px;
  height: 200px;
  transform-style: preserve-3d;
}

.modal__content--slider input {
  visibility: hidden;
}

.modal__content--close {
  place-self: end;
  align-self: start;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.modal__content--close:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
}

.card {
  display: grid;
  place-items: center;
  position: absolute;
  background: var(--yellow);
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.5s ease;
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card img {
  width: 60%;
}
#radio-1:checked ~ .cards #card-1,
#radio-2:checked ~ .cards #card-2,
#radio-3:checked ~ .cards #card-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#radio-1:checked ~ .cards #card-2,
#radio-2:checked ~ .cards #card-3,
#radio-3:checked ~ .cards #card-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

#radio-1:checked ~ .cards #card-3,
#radio-2:checked ~ .cards #card-1,
#radio-3:checked ~ .cards #card-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.5;
  z-index: 0;
}

.button-content {
  background: var(--red);
  box-sizing: border-box;
  padding: 8px 40px;
  border: none;
  font-size: 1rem;
  color: white;
  border-radius: 20px;
  margin: 20px 0 0 0;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.button-content:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
